export(combineRank)
export(contLikINT)
export(contLikMCMC)
export(contLikMLE)
export(deconvolve)
export(genDataset)
export(getGlist)
export(logLiki)
export(prepareC)
export(Qassignate)
export(validMCMC)
useDynLib(gammadnamix)
exportPattern("^[[:alpha:]]+")
